@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --font-logo: 'Quattrocento', serif;
    --nav-font: 'Open Sans', sans-serif;
    --main-color: #00d2eb;
    --logo-color: #4c4c4c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}


header {
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.head-main {
    width: 1210px;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #4c4c4c;
    font-size: 32px;
    font-family: var(--font-logo);
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
}

.logo i {
    height: 45px;
    width: 45px;
    font-size: 22px;
    background-color: var(--main-color);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
}

/* navbar li css start */
.nav {
    display: flex;
    gap: 14px;
}

.nav-li {
    border-left: 1px solid #ececec;
    padding: 10px;
}

.nav-li:last-child {
    border-right: 1px solid #ececec;
    padding: 10px;
}

.nav-li-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    color: #7d7d7d;
    font-family: var(--font-logo);
    font-weight: 300 !important;
    font-size: 14px;
}

.nav-li-a i {
    color: var(--main-color);
    display: inline-block;
}

.nav-li-a:hover {
    color: var(--main-color);
}

.nav-li-a:hover i {
    animation: spin4 0.4s ease forwards;
}

@keyframes spin4 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1440deg);
    }
}

/* header css complete */

/* top section css start */
.top-sec-main {
    width: 1210px;
    margin: auto;
    padding-top: 10px;
}

.top-sec {
    background-image: url('../assets/images/imgi_41_slider.jpg');
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.top-sec-div {
    width: 500px;
    height: 200px;
    margin-top: 320px;
    margin-left: 100px;
    opacity: 0;
    animation: spin1 800ms ease forwards;
    animation-delay: 500ms;
}

@keyframes spin1 {
    from {
        transform: rotate(30deg) translateX(100px);
    }

    to {
        transform: rotate(0deg) translateX(0px);
        opacity: 1;
    }
}

.tp-caption {
    position: relative;
}

.tp-caption-txt {
    font-family: 'Quattrocento', sans-serif;
    position: absolute;
    top: 10px;
    font-size: 37px;
    padding: 40px;
    color: #4c4c4c;
}

.tp-caption-txt span {
    color: var(--main-color);
    font-weight: 600;
}

.tp-caption-txt strong {
    color: black;
}

/* tp caption 2 */
.top-sec-div2 {
    width: 300px;
    height: 200px;
    margin-top: -40px;
    margin-left: 140px;
    opacity: 0;
    animation: spin2 900ms ease forwards;
    animation-delay: 1000ms;
}

@keyframes spin2 {
    from {
        transform: rotate(20deg) translateX(140px);
    }

    to {
        transform: rotate(0deg) translateX(0px);
        opacity: 1;
    }
}

.tp-caption2 {
    position: relative;
}

.tp-caption-txt2 {
    font-family: 'Quattrocento', sans-serif;
    position: absolute;
    top: 0px;
    font-size: 24px;
    font-weight: 500;
    color: white;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    cursor: pointer;
}

.tp-caption-txt2 i {
    width: 40px;
    height: 40px;
    background-color: white;
    box-shadow: 0px 2px 12px 0px rgba(139, 146, 163, 0.777);
    color: var(--main-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* section 2 css start */
.sec-2 {
    background-color: #f1f1f1;
    padding-top: 80px;
    padding-bottom: 68px;
}

.container {
    width: 1210px;
    margin: auto;
}

.cont-heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-heading h3 {
    color: #333;
    border: 1px solid #a9a3a3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 12px 30px 5px;
    font-family: 'Raleway', sans-serif !important;
    font-size: 21px;
    text-transform: uppercase;
}

.gallary-nv {
    margin: 0px 150px;
}

.gallary-ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    color: #7d7d7d;
}

.gallary-ul li {
    padding: 10px;
    cursor: pointer;
    transition: all 500ms;
}

.gallary-active {
    background-color: #0ecce3;
    border-radius: 50px;
    color: white;
}

.gallary-ul li:hover {
    background-color: #0ecce3;
    border-radius: 50px;
    color: white;
}

/* gallary card css */
.gallary-crd-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}

.gallary-card {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(102, 125, 126, 0.558);
    border-radius: 10px;
    width: 30%;
    margin-bottom: 30px;
    cursor: pointer;

}


.gallary-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallary-card:hover img {
    transform: scale(1.1);
}

.gallary-card-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0ecee39f;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

@keyframes gallary {
    from {
        transform: rotate(10deg) translateY(140px);
        border-radius: 50%;
    }

    to {
        transform: rotate(0deg) translateX(0px);
    }
}

.gallary-card:hover .gallary-card-text {
    opacity: 1;
    animation: gallary 900ms ease forwards;
}

.gallary-card-text h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.gallary-card-text p {
    font-size: 18px;
}

.gallary-icn {
    margin-top: 10px;
}

.gallary-icn i {
    margin-right: 10px;
    transition: all 300ms;
}

.gallary-icn i:hover {
    color: #333;
    transform: scale(1.1);
}

/* gallary section complete */
.ser-section {
    background: #00c4e64b;
    padding: 80px 0 0 0;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left {
    width: 55%;
    padding-right: 30px;
}

.hero-left h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.hero-left p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 25px;
}


.services {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 35px 0;
}


.service-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    cursor: pointer;
}


.service-box i {
    width: 120px;
    height: 120px;
    border: 2px solid #e7e7e7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    margin-bottom: 10px;
    transition: all 500ms;
}

.service-box i:hover {
    background: #00c4e6;
    border-color: #00c4e6;
    color: white;
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


.service-box p {
    font-size: 14px;
    color: #333;
    transition: 0.3s;
}


.btns {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.btn-primary {
    padding: 12px 25px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #00c4e6;
    color: white;
    transition: all 400ms;
    border-radius: 10px;
}

.btn-primary:hover {
    color: #333;
    background-color: #ecf0f1;
    transform: translateY(-6px);
}

.hero-right {
    width: 40%;
}

.hero-right img {
    width: 100%;
    height: 100%;
}

/* service section complete */

/* doctor section start*/
/* .container {
 border: 2px solid teal;
 padding: 10px;
} */

.doc-section {
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.doctor-card {
    width: 23%;
    background: #fff;
    border: 1px solid rgb(194, 208, 213);
    text-align: center;
    border-radius: 0px 50px 0px 0px;
    padding: 20px 15px;
    transition: 0.4s ease;
    cursor: pointer;
}


.doctor-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 15px 35px rgba(157, 202, 202, 0.486);
    border-radius: 10px;

}

.doctor-card:hover img {
    transform: scale(1.1);
}


.doctor-card img {
    width: 150px;
    transition: 0.4s ease;

}


.doctor-name {
    background: #02c7e5;
    padding: 10px;
    border-radius: 25px;
    margin-top: -2px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    z-index: 3;
}


.doctor-speciality {
    margin-top: 12px;
    display: inline-block;
    padding: 6px 14px;
    background: #2d2d2d;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 1px;
}


.doctor-card:hover .doctor-name {
    background: #029cb3;
}

/* doctor css complete */
/* department section start */
.dep-section {
    background-color: white;
}

.departments {
    width: 100%;
    background: #fff;
    padding: 70px 0;
    text-align: center;
}

.dept-heading {
    margin: auto;
    background: #02c7e5;
    padding: 18px;
    border-radius: 40px 40px 0px 0px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;
}

.dept-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.dept-box {
    margin-top: 50px;
    width: 19%;
    background: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    transition: 0.4s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.dept-box:hover {
    transform: translateY(-8px);
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.12);
    border-color: #02c7e5;
}


.dept-box p {
    font-size: 21px;
    color: #333;
}

/* contact section start */

.contact-working-sec {
    width: 100%;
    height: 800px;
    padding: 80px 0;
    background-image: url('../assets/images/imgi_44_slide2.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.contact-working-sec::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    /* Darkness Control */
    z-index: 1;
}

.contact-working-container {
    margin: auto;
    padding: 100px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    position: relative;
    z-index: 2;
}

/* LEFT CONTACT */
.left-contact {
    width: 30%;
}

.left-contact h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
}

.c-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.c-row i {
    background: var(--main-color);
    padding: 12px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-row p {
    font-size: 16px;
}

.social-row i {
    font-size: 18px;
    margin-right: 15px;
    cursor: pointer;
}

/* CENTER WORKING BOX */
.working-box {
    width: 30%;
    background: var(--main-color);
    padding: 40px 30px;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    font-weight: 600px;
}

.work-icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #fff;
    margin: -80px auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-icon i {
    color: var(--main-color);
    font-size: 40px;
}

.working-box h2 {
    font-size: 24px;
    margin-bottom: 25px;
}

.working-box ul li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* RIGHT FORM */
.right-form {
    width: 30%;
}

.right-form h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
}

.right-form input,
.right-form textarea {
    width: 100%;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 12px 15px;
    color: #fff;
    margin-bottom: 15px;
    outline: none;
    font-size: 15px;
}

.right-form textarea {
    height: 120px;
}

.right-form button {
    background: var(--main-color);
    color: #fff;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    text-transform: uppercase;
}

/* lk code */
:root {
    --main-color: #00d2eb;
    --text-light: #777;
    --border-dark: #333;
}

.welcome-sec {
    padding: 60px 0;
    background: #fff;
    font-family: 'Poppins', sans-serif;
}

.section-header {
    text-align: center;
    margin-bottom: 40px;
}

.section-header h3 {
    font-size: 26px;
    font-weight: 700;
    color: #333;
    display: inline-block;
    border: 1px solid #333;
    padding: 12px 30px 6px;
    border-radius: 12px 12px 0 0;
}

.welcome-row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.welcome-left {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.service-card {
    width: 47%;
    display: flex;
    padding: 25px;
    border: 2px solid var(--border-dark);
    border-radius: 20px;
    transition: 0.3s;
}

.icon {
    width: 55px;
    height: 55px;
    border: 2px solid #777;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #777;
    transition: 0.3s;
}

.service-card:hover .icon {
    background: var(--main-color);
    color: #fff;
    border-color: var(--main-color);
    transform: scale(1.15);
}

.text {
    margin-left: 20px;
}

.text h5 {
    color: #555;
    font-size: 18px;
    margin-bottom: 8px;
}

.text p {
    color: var(--text-light);
    font-size: 14px;
    margin: 0;
}

/* RIGHT FORM */
.welcome-right {
    width: 32%;
    border: 3px solid var(--main-color);
    border-radius: 40px;
    padding: 25px;
}

.appointment-form h5 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.appointment-form h5 i {
    color: var(--main-color);
    margin-right: 10px;
}

.input {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

.input.small {
    width: 49%;
}

.date-time {
    display: flex;
    justify-content: space-between;
}

.textarea {
    min-height: 70px;
    resize: none;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background: var(--main-color);
    color: #fff;
    border-radius: 25px;
    border: none;
    margin-top: 18px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.submit-btn:hover {
    background: #00bdd3;
}


.blog-sec {
    padding: 70px 0;
    background: #f1f1f1;
    font-family: "Poppins", sans-serif;
}

.latest-news {
    width: 1210px;
    margin: auto;
    text-align: center;
}

.section-title {
    font-size: 32px;
    margin-bottom: 40px;
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
}

.blog-container {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.blog-card {
    width: 550px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.blog-image {
    position: relative;
}

.blog-image img {
    width: 100%;
    height: 330px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.date {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #47b5ff;
    padding: 6px 12px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
    font-weight: 600;
    line-height: 18px;
}

.blog-content {
    padding: 25px;
    text-align: left;
}

.blog-content h3 {
    font-size: 22px;
    margin-bottom: 12px;
    color: #333;
    font-weight: 600;
}

.info {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #777;
    font-size: 14px;
    margin-bottom: 12px;
}

.info i {
    color: #47b5ff;
}

.blog-content p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.btn {
    background: #47b5ff;
    color: #fff;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}

.btn:hover {
    background: #009de4;
}


/* footer start */
footer {
    width: 100%;
    background-color: var(--main-color);
}

.ft-main {
    width: 1210px;
    padding: 50px 0px;
    margin: auto;
    text-align: center;
    color: white;
}